<div class="container">
            <div class="row header">
                <div class="centerBox pr">
                    <a class="logo" href="/"></a>
                    <!--<a class="btnSearch" href="/"></a>-->
                    <button class="btn btn-danger" type="button" style="position: absolute; right: 0; top: 30px;"><i class="icon-search" style="margin-right: 0px;"></i><strong> Hledám</strong> místo pro akci</button>
                    <a class="giveTip" href="/">Dejte nám tip</a>
                </div>
            </div>
        </div>

        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <%=image_tag('slider/slide1.jpg', alt: "")%>
                    
                    <div class="container">
                        <div class="centerBox pr">
                            <div class="infoBox">
                                <h1>Pronajměte váš prostor <br />pro firemní akci,<br /><span>párty nebo svatbu.</span></h1>
                                <div class="blackBox">
                                    <ul>
                                        <li>Přidání na Spotfizz je <strong>zdarma</strong></li>
                                        <li>Přidání trvá <strong>1 minutu</strong></li>
                                        <li><strong>Propojíme vaše místo</strong> s lidmi, kteří ho hledají</li>
                                        <li><strong>Najdeme zákazníky</strong> pro vaše nevyužité kapacity</li>
                                    </ul>

                                    <button class="btn btn-large btn-success" type="button" style="margin-top: 10px;"><i class="icon-plus" style="margin-right: 15px;"></i><strong>Přidat</strong> mé prostory</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <%=image_tag('slider/slide2.jpg', alt: "")%>
                    <div class="container">
                        <div class="centerBox pr">
                            <div class="infoBox">
                                <h1>Pronajměte váš prostor <br />pro firemní akci,<br /><span>párty nebo svatbu.</span></h1>
                                <div class="blackBox">
                                    <ul>
                                        <li>Přidání na Spotfizz je <strong>zdarma</strong></li>
                                        <li>Přidání trvá <strong>1 minutu</strong></li>
                                        <li><strong>Propojíme vaše místo</strong> s lidmi, kteří ho hledají</li>
                                        <li><strong>Najdeme zákazníky</strong> pro vaše nevyužité kapacity</li>
                                    </ul>

                                    <button class="btn btn-large btn-success" type="button" style="margin-top: 10px;"><i class="icon-plus" style="margin-right: 15px;"></i><strong>Přidat</strong> mé prostory</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <%=image_tag('slider/slide3.jpg', alt: "")%>
                    <div class="container">
                        <div class="centerBox pr">
                            <div class="infoBox">
                               <h1>Pronajměte váš prostor <br />pro firemní akci,<br /><span>párty nebo svatbu.</span></h1>    
                                <div class="infoBox">
                               <h1>Pronajměte váš prostor <br />pro firemní akci,<br /><span>párty nebo svatbu.</span></h1>
                                <div class="blackBox">
                                    <ul>
                                        <li>Přidání na Spotfizz je <strong>zdarma</strong></li>
                                        <li>Přidání trvá <strong>1 minutu</strong></li>
                                        <li><strong>Propojíme vaše místo</strong> s lidmi, kteří ho hledají</li>
                                        <li><strong>Najdeme zákazníky</strong> pro vaše nevyužité kapacity</li>
                                    </ul>

                                    <button class="btn btn-large btn-success" type="button" style="margin-top: 10px;"><i class="icon-plus" style="margin-right: 15px;"></i><strong>Přidat</strong> mé prostory</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
            <div class="ring"></div>
            <div class="bottomLine"></div>
        </div>
        <!-- /.carousel -->

        <div class="container">
            <div class="row tac">
                <div class="centerBox">
                    <h2><span>Přidání vašeho místa</span> ve 4 krocích</h2>  
                    <div class="span13 tac last left">
                        <div class="imgBoxWithMask">
                            <%=image_tag('cImg1.jpg', alt: "")%><em>1</em>
                        </div>
                        <h4>Navštívíme vás</h4>
                        <p>Náš zastupce váš navštíví, představí podmínky a doporučí, pro jaké akce je prostor nejvhodnější. </p>
                        <div class="clear"></div>
                    </div>
                    <div class="span13 tac right">
                        <div class="imgBoxWithMask">
                            <%=image_tag('cImg2.jpg', alt: "")%><em>2</em>
                        </div>
                        <h4>Nafotíme vaše prostory</h4>
                        <p>Unikátní prostory potřebují perfektní prezentaci, proto vaše prostory zdarma vyfotí profesionální fotograf. </p>
                        <div class="clear"></div>
                    </div><!-- /.span4 -->
                    <div class="span13 tac last left">
                        <div class="imgBoxWithMask">
                            <%=image_tag('cImg3.jpg', alt: "")%><em>3</em>
                        </div>
                        <h4>Vytvoříme váš profil</h4>
                        <p>Pomůžeme vám vytvořit váš veřejný profil a zvýraznit přednosti vašeho místa. Posílíme vaši přítomnost na internetu.</p>
                        <div class="clear"></div>
                    </div><!-- /.span4 -->
                    <div class="span13 tac right">
                        <div class="imgBoxWithMask">
                            <%=image_tag('cImg4.jpg', alt: "")%><em>4</em>
                        </div>
                        <h4>Přivedeme nové klienty</h4>
                        <p>Po spuštění služby vám budou chodit poptávky přímo od lidí, kteří plánují firemní akci, konferenci, svatbu nebo párty. </p>
                        <div class="clear"></div>
                    </div><!-- /.span4 --> 

                    <div class="clear"></div>

                    <br />
                    <br />

                    <div class="graySolidBox">
                        <strong>Plánujete akci? Zajímá vás, jak Spotfizz funguje?</strong> &nbsp;&nbsp;&nbsp; <span>Podívejte se na to, jak Spotfizz mění způsob <a href="/">plánování firemních i soukromých akcí </a>.</span>   
                    </div>

                    <br /><br />
                </div>
            </div><!-- /.row -->

            <div class="row line classic tac reference"> 

                <div class="centerBox">

                    <br />
                    <br />
                    <br />

                    <h2>Co říkají <span>naši zákazníci</span></h2>

                    <div class="span5 tal">
                        <div class="viewBox location"></div>
                        
                        <h4>Díky Spotfizzu můžeme nabídnout naši kavárnu pro workshopy</h4>
                        <p>Jsme pyšní na naši nově otevřenou kavárnu na Vinohradech. Chceme vyplnit nevyužitou kapacitu a představit kavárnu těm, kteří o ní neuvažovali jako o místu pro akci.</p>
                    </div>
                    <div class="span5 tal">
                        <div class="viewBox client"></div> 
                        <h4>Každý rok pořádáme vánoční večírek a firemní teambuilding</h4>
                        <p>Spotfizz je úlevou při hledání vhodného místa. Akci si chceme naplánovat sami, ale je to vždy časově náročné. Chceme na jednom místě porovnat více nabídek a rovnou tu vybranou zarezervovat.</p>
                    </div>

                    <div class="clear"></div>

                    <br />
                    <br />
                    <br />
                </div>


            </div>

            <div class="row line classic tac contact"> 
                <div class="centerBox">

                    <br />
                    <br />
                    <br />
                    <h2><span>Chcete se přidat?</span> Zanechte kontakt, zavoláme v ám...</h2>

                    <div class="bgForm">
                        <input type="text" name="name" id="name" class="success">
                        <input type="text" name="email" id="email" class="email" placeholder="zadejte emailovou adresu">
                        <input type="text" name="phone" id="phone" class="error">
                      
                        <button class="btn btn-large btn-success" type="button" style="margin-top: 10px;width: 280px;"><i class="icon-plus" style="margin-right: 15px;"></i><strong>Přidat</strong> mé prostory</button>
                        <input type="button" name="send" id="send" class="button" style="display: none;">
                    </div>
                    <div class="formList tal">
                        <ul>
                      <li>Přidání na Spotfizz je <strong>zdarma</strong></li>
                                        <li>Přidání trvá <strong>1 minutu</strong></li>
                                        <li><strong>Propojíme vaše místo</strong> s lidmi, kteří ho hledají</li>
                                        <li><strong>Najdeme zákazníky</strong> pro vaše nevyužité kapacity</li>
                        </ul>

                        <br />
                        <br />

                        <p>Po odeslání kontaktních informací<br />se Vám ozveme <strong>do 24 hodin</strong>.</p> 
                        <p>Vaše kontaktní údaje budou použity<br />pouze pro účely Spotfizz. <a href="/">Více</a> </p>
                    </div>
                    <div class="clear"></div>

                    <br />
                    <br />
                    
                </div>
            </div>    

            <div class="row line success tac"> 
                <div class="centerBox">
                    <br />
                    <br />
                    <br />
                    <h2>Sledujte <span>nás</span></h2>

                    <div class="span5 tal">
                        <div class="fb-like-box" data-href="http://www.facebook.com/platform" data-width="450" data-height="200" data-show-faces="true" data-colorscheme="light" data-stream="false" data-header="false" border_color="#ffffff"></div>
                    </div>
                    <div class="span5 tal smallTxt">    
                        <strong class="black">12. června 2012 ve 13:32</strong> <img src="assets/btnTwiter.png" width="125" height="32" style="vertical-align: middle;">
                        <p class="small">@spotfizz Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>

                    <div class="clear"></div>

                    <h2 style="font-size: 21px; margin: 0;"><span>Líbí se vám</span> Spotfizz?</h2>
                    <%=image_tag('imgSocial.png', alt: "")%>
                    

                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="row line arrow tac footer"> 
                <div class="centerBox">

                    <br />
                    <br />
                    <br />
                    
                        <div class="btn-group" style="float: left;margin: -5px 15px 0 40px; ">
                            <a class="btn"><i class="icon-user icon-white" style="background: url('assets/icoCze.png') no-repeat center center;"></i> Česky</a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-pencil"></i> English</a></li>
                            </ul>
                        </div>

                    <img src="assets/btnLang.png" align="left" style="margin: -5px 15px 0 40px; displaY: none;">

                    <ul>
                        <li><a href="/">Přidat prostory</a></li>
                        <li><a href="/">Vyhledat prostory</a></li>
                        <li><a href="/">Jak funguje Spotfizz</a></li>
                        <li><a href="/">Podmínky používání</a></li>
                        <li><a href="/">Kontakty</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1&appId=518331378229664";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <script>
            !function($)
            {
                $(function()
                {
                    $('#myCarousel').carousel();
                });
            }(window.jQuery)
        </script>

        


