<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spotfizz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/spotfizz.css" rel="stylesheet">
        
    </head>

    <body>

        <div class="container">
            <div class="row header">
                <div class="centerBox pr">
                    <a class="logo" href="/"></a>
                    <!--<a class="btnSearch" href="/"></a>-->
                    <button class="btn btn-danger" type="button"><i class="icon-search" style="margin-right: 0px;"></i> <strong>I need</strong> event space</button>
                    <a class="giveTip" href="/">Give us a tip</a>
                </div>
            </div>
        </div>

        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                   <%=image_tag('slider/slide4.jpg', alt: "")%>
                    <div class="container">
                        <div class="centerBox pr">
                            <div class="infoBox">
                                <h1>Rent your spot<br />for company event, <br /><span>party or wedding.</span></h1>
                                <div class="blackBox">
                                    <ul>
                                        <li>Adding the spot is for <strong>free</strong></li>
                                        <li>Adding the spot takes   <strong>1 minute</strong></li>
                                        <li><strong>We bring you</strong> new customers</li>
                                        <li><strong>We utilize</strong> your unused capacity</li>
                                    </ul>

                                    <button class="btn btn-large btn-success" type="button" style="margin-top: 20px;"><i class="icon-plus" style="margin-right: 15px;"></i><strong>Add </strong>my spot</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                   <%=image_tag('slider/slide6.jpg', alt: "")%>
                    <div class="container">
                        <div class="centerBox pr">
                            <div class="infoBox">
                                <h1>Rent your spot<br />for company event, <br /><span>party or wedding.</span></h1>
                                <div class="blackBox">
                                    <ul>
                                        <li>Adding the spot is for <strong>free</strong></li>
                                        <li>Adding the spot takes<strong>1 minute</strong></li>
                                        <li><strong>We bring you</strong> new customers</li>
                                        <li><strong>We utilize</strong> your unused capacity</li>
                                    </ul>

                                    <button class="btn btn-large btn-success" type="button" style="margin-top: 20px;"><i class="icon-plus" style="margin-right: 15px;"></i><strong>Add </strong>my spot</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
            <div class="ring"></div>
            <div class="bottomLine"></div>
        </div>
        <!-- /.carousel -->

        <div class="container">
            <div class="row tac know">
                <div class="centerBox">
                    <h2><span>Adding your spot</span> in 4 steps</h2>  
                    <div class="span13 tac last left">
                        <div class="imgBoxWithMask">
                             <%=image_tag('cImg1.jpg', alt: "")%><em>1</em>
                        </div>
                        <h4>Our visit</h4>
                        <p>Spotfizz representative gives you a visit, introduces terms and conditions ad reccomends you the most suitable events for your spot.</p>
                        <div class="clear"></div>
                    </div>
                    <div class="span13 tac right">
                        <div class="imgBoxWithMask">
                             <%=image_tag('cImg2.jpg', alt: "")%><em>2</em>
                        </div>
                        <h4>Photo shooting</h4>
                        <p>Unique spot needs perfect presentation. Our professional photograper will create photos of your spot for free. </p>
                        <div class="clear"></div>
                    </div>
                    <div class="span13 tac last left">
                        <div class="imgBoxWithMask">
                             <%=image_tag('cImg3.jpg', alt: "")%><em>3</em>
                        </div>
                        <h4>Your new profile</h4>
                        <p>We help you to create our public profile and highlight advantages of your spot. We boost your online presence.</p>
                        <div class="clear"></div>
                    </div>
                    <div class="span13 tac right">
                        <div class="imgBoxWithMask">
                             <%=image_tag('cImg4.jpg', alt: "")%><em>4</em>
                        </div>
                        <h4>New customers</h4>
                        <p>After we publish your profile you get requests from people who plan event, conference, wedding or party. </p>
                        <div class="clear"></div>
                    </div> 

                    <div class="clear"></div>

                    <br />
                    <br />

                    <div class="graySolidBox">
                        <strong>Do you plan an event? How Spotfizz works?</strong> &nbsp;&nbsp;&nbsp; <span>Look at Spotfizz is changing the way of <a href="/">planning corporate and private events</a>.</span>   
                    </div>

                    <br /><br />
                </div>
            </div><!-- /.row -->

            <div class="row line classic tac reference"> 

                <div class="centerBox">

                    <br />
                    <br />
                    <br />

                    <h2><span>Few words</span> from our customers</h2>

                    <div class="span5 tal">
                        <div class="viewBox location"></div>
                        
                        <h4>Spottfizz gives us a chance to rent our cafe for workshops.</h4>
                        <p>We are proud of our newly opened cefe in Prague. We want to have our cafe allways full of people who even haven't thought about it as a event spot.</p>
                    </div>
                    <div class="span5 tal">
                        <div class="viewBox client"></div> 
                        <h4>Every year we make Xmas party and a teambuilding.</h4>
                        <p>Spotfizz takes out our pain with searching of the right venue. we plan the events internally - it is time consuming. We want one place where we search, compare and book the right spot. </p>
                    </div>

                    <div class="clear"></div>

                    <br />
                    <br />
                    <br />
                </div>


            </div>

            <div class="row line classic tac contact"> 
                <div class="centerBox">

                    <br />
                    <br />
                    <br />
                    <h2><span>Do you want to join?</span> Leave us your details, we call you back</h2>

                    <div class="bgForm">
                        <input type="text" name="name" id="name" placeholder="Your name">
                        <input type="text" name="phone" id="phone" placeholder="Your phone number">
                        <input type="text" name="email" id="email" placeholder="Your e-mail address">
                        
                        <button class="btn btn-large btn-success" type="button"><i class="icon-plus" style="margin-right: 15px;"></i><strong>Add</strong> my spot</button>
                        <input type="button" name="send" id="send" class="button" style="display: none;">
                    </div>
                    <div class="formList tal">
                        <ul>
                            <li>Adding the spot is for <strong>free</strong></li>
                            <li>Adding the spot takes <strong>1 minute</strong></li>
                            <li><strong>We bring you</strong> new customers</li>
                            <li><strong>We utilize</strong> your unused capacity</li>
                        </ul>

                        <br />
                        <br />

                        <p>We contact you <br />within <strong>24 hours</strong>.</p> 
                        <p>We won't spam<br />you :-) <a href="/">Read more</a> </p>
                    </div>
                    <div class="clear"></div>

                    <br />
                    <br />
                    
                </div>
            </div>    
            
            <div class="row line success tac"> 
                <div class="centerBox">
                    <br />
                    <br />
                    <br />
                    <h2><span>Follow </span>us</h2>

                    <div class="span5 tal">
                        <div class="fb-like-box" data-href="http://www.facebook.com/platform" data-width="450" data-height="200" data-show-faces="true" data-colorscheme="light" data-stream="false" data-header="false" border_color="#ffffff"></div>
                    </div>
                    <div class="span5 tal smallTxt">    
                        <strong class="black">June 12th, 10:33</strong> <img src="assets/btnTwiter.png" width="125" height="32" style="vertical-align: middle;">
                        <p class="small">@spotfizz Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>

                    <div class="clear"></div>

                    <h2><span>Do you like</span> Spotfizz?</h2>
                     <%=image_tag('imgSocial.png', alt: "")%>

                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="row line arrow tac footer"> 
                <div class="centerBox">

                    <br />
                    <br />
                    <br />
                    
                    <div class="btn-group">
                        <a class="btn"><i class="icon-user icon-white" style="background: url('assets/icoCze.png') no-repeat center center;"></i> Česky</a>
                        <a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-pencil"></i> English</a></li>
                        </ul>
                    </div>

                    <img src="assets/btnLang.png" align="left" style="margin: -5px 15px 0 40px; display: none;">

                    <ul>
                        <li><a href="/">Add my spot</a></li>
                        <li><a href="/">Search for a spot</a></li>
                        <li><a href="/">How does Spotfizz work</a></li>
                        <li><a href="/">Terms and conditions</a></li>
                        <li><a href="/">Contact us</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

        </div>


        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1&appId=518331378229664";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <script>
            !function($)
            {
                $(function()
                {
                    $('#myCarousel').carousel();
                });
            }(window.jQuery)
        </script>
     
    </body>
</html>
